.content_section {
    .left_content_section {
        margin-bottom: 130px;

        h5 {
            line-height: 35px;
            margin-bottom: 18px;
        }
    }

    .right_content_section {
        margin-bottom: 84px;

        p {
            line-height: 30px;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: $blackColor;
            font-weight: 500;

            &:hover {
                font-weight: 600;
                text-decoration: underline;
                transition: all 365ms;
            }
        }
    }
}


@media only screen and (max-width: 425px) {
    .content_section {
        .left_content_section {
            margin-bottom: 40px;
        }
        .right_content_section {
            margin-bottom: 44px;
        }
    }
}