.footer-section {
    background-color: $blackColor;
    padding: 135px 0px;


    h4 {
        color: $white_color;
        text-align: center;
        margin-bottom: 24px;
    }

    form {
        .btn:hover{
            background-color: $grayColor;
        }
        textarea {
            background-color: $blackColor;
            border: 0;
            width: 100%;
            border-bottom: 1px solid $white_color;
        }

        textarea::placeholder {
            color: $white_color;
            font-size: 16px;
            font-weight: 500;
        }

        input {

            background-color: $blackColor;
            border: 0;
            border-bottom: 1px solid $white_color;
            height: 55px;
            margin-bottom: 52px;
        }

        input::placeholder {
            color: $white_color;
            font-size: 16px;
            font-weight: 500;
        }

        button {
            width: 132px;
            height: 52px;
            background-color: $white_color;
            font-size: 18px;
            font-weight: 600;
            border-radius: 0;
            margin-top: 47px;
        }
    }
}

.footer-content {
    text-align: center;
    margin-top: 112px;
    color: $white_color;

    h2 {
        margin-bottom: 22px;
    }

    .footer-icon {
        margin-top: 42px;
        text-align: center;
        margin-left: 60px;

        svg {
            margin-right: 55px;
        }
    }
}


@media only screen and (max-width: 375px) {
    .footer-section {
        .container {
            .footer-icon {
                margin-left: 6px;

                svg {
                    margin-right: 30px;
                }
            }
        }
    }
}