@import "variables";


nav {
    #navbarNavDropdown {
        justify-content: end;

        .navbar-nav {
            align-items: center;

            li {
                margin-right: 55px;

                .nav-link {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .navbar_btn {
            background-color: $blackColor;
            padding: 22px;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        #navbarNavDropdown {
            .navbar-nav {
                align-items: baseline;
            }
        }
    }
}