.progres-section {

    background-color: $blackColor;

    .progres-section-waper {
        padding: 135px 0px;

        .roww1 {
            display: flex;
            align-items: center;
        }

        .circlechart {
            text-align: center;
            margin-bottom: 45px;

            .circle-chart__percent {
                fill: $white_color;
            }

            .skill_name {
                color: white;
                text-align: center;
                margin-top: 10px;
            }
        }



        .progres-content {
            display: flex;
            color: $white_color;
            margin-bottom: 50px;

            .progres-line {
                height: 238px;
                width: 3px;
                background-color: $white_color;
                margin-right: 10px;
            }

            .progres-main-content {
                h6 {
                    margin-bottom: 20px;
                }

                h5 {
                    margin-bottom: 20px;
                }

                p {
                    line-height: 35px;
                }

                .progres_text {
                    margin-left: 90px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .progres-section {
        .container {
            .circlechart {
                .circle-chart {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .progres-section {
        .container {
            .circlechart {
                .circle-chart {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .progres-section {
        .progres-section-waper{
            padding: 100px 20px;

            .progres-content {
                .progres-line {
                    height: 325px;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .progres-section {
        .container {
            padding: 0 20px;

            .progres-content {
                .progres-line {
                    height: 485px;
                }
            }
        }
    }
}