// all variables here

$text_color: #191B1D;
$background_color: #0d0e0f;
$black_color: #000000;
$white_color: #ffffff;
$blackColor: black;
$blackColorShadow: #00000010;
$blackColorShadow2: #05050580;
$grayColor: #fdfcfc60;
$tabIconBGColor: antiquewhite;